input[type=submit] {
    background-color: greenyellow;
    border: none;
}

h1 {
    text-align: center;
}

input[type=reset] {
    background-color: tomato;
    border: none;
}

.container {
    width: 33%;
    text-align: center;
    margin: auto;
    padding-top: 15%;
}

input[type=email],
input[type=password] {
    border: none;

}

a {
    color: aqua;
    text-decoration: none;
}

a:hover {

    color: rgba(255, 72, 0, 0.774);
    text-decoration: underline;
    transition: 600ms;
}

body {
    background-color: gray;
}

nav,
ul,
li {
    list-style-type: none;
    padding: 15px;
    display: inline;
}

header {
    background-color: rgba(123, 33, 131, 0.589);
    padding: 15px;
}